{"startCommands": [
    {
        "type": "Add",
        "target": "Piece",
        "id": "ff60e9a1",
        "created": "20080610152447302",
        "modified": "20080610152447303",
        "tilePosition": [-5,2],
        "data": "Team1"
    },
    {
        "type": "Add",
        "target": "Piece",
        "id": "7bce0421",
        "created": "20080610152447302",
        "modified": "20080610152447303",
        "tilePosition": [5,-2],
        "data": "Team2"
    },
    {
        "type": "Move",
        "target": "Piece",
        "id": "7bce0421",
        "modified": "20080610152447304",
        "tilePosition": [4,-2]
    }
]}